.App {
  text-align: center;
  /* background-color: whitesmoke; */
  height: 100vh;
  background: rgb(252,252,252);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

*{
  box-sizing: border-box;
}

.topnav{
  background-color: #8ff153d2;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  font-weight: 600;
  color: black;
  display: flex;
  flex-direction: row; 
}

.topnav, span {
  padding: .5em;
}

.mainDiv{
  padding-top: 1em;
  display: flex;
  height: 350px;
  align-items: center;
  justify-content: center;
}

.heroText{
  color: black;
  padding: 2em;
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.heroParagraph{
  font-size: 1.5em;
}

.searchForm{
  margin: 1em;
}

.search-button{
  margin: .5em;
}


.bgImage{
  background-image: url('../images/pasta.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  color: black;
  font-size: 1.15em;
}