.gridContainer{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
}

.recipeStyle{
  border-radius: 10px;
  margin: 20px;
  padding: .5em;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 4em;
  grid-row-gap: 4em;
  grid-auto-flow: row; 
}

